rvl_alias "BCLK" "BCLK";
COMMERCIAL;
RVL_ALIAS "aclk" "cpu1/clk";
BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "aclk" SITE "21" ;
LOCATE COMP "arst" SITE "19" ;
LOCATE COMP "uart_i" SITE "110" ;
LOCATE COMP "uart_o" SITE "109" ;
LOCATE COMP "ioport_0" SITE "46" ;
LOCATE COMP "ioport_1" SITE "45" ;
LOCATE COMP "ioport_2" SITE "44" ;
LOCATE COMP "ioport_3" SITE "43" ;
LOCATE COMP "ioport_4" SITE "40" ;
LOCATE COMP "ioport_5" SITE "39" ;
LOCATE COMP "ioport_6" SITE "38" ;
LOCATE COMP "ioport_7" SITE "37" ;
FREQUENCY PORT "aclk" 50.000000 MHz ;
CLOCK_TO_OUT ALLPORTS 20.000000 ns CLKPORT "aclk" ;
BLOCK NET "arst_c" ;
IOBUF ALLPORTS IO_TYPE=LVCMOS33 ;

BLOCK JTAGPATHS;
